.home{
    font-family:Arial, Helvetica, sans-serif;
}
.search-result {
    position: relative;
    width: 960px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    top: 120px;
    box-shadow: 1px 1px 6px #555;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 200px;
    border-radius:6px;
}
.search-result-title {
    position: relative;
    top: 0px;
    left: 45px;
    display: flex;
}
.search-result-presentation {
    position: relative;
    display: flex;
    gap: 25px;
    top: 0px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 55px;
    flex-wrap: wrap;
}
.container-research {
    position: relative;
    border-style: solid;
    border-color: black;
    width: 627px;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-bottom: 50px;
    margin-right: auto;
    margin-top: 0;
    border-radius: 6px;
}
.search-result-title-position{
    position: relative;
    bottom: 0px;
    top: 0px;
    margin-bottom: 50px;
    margin-top: 30px;
}
.hr-style-cut {
    border-bottom: 1px solid black;
    width: 35%;
    position: relative;
    height: 1px;
    bottom: 40px;
    left: 45px;
    z-index: 2;
}
.select-positions {
    position: relative;
    left: 70px;
    bottom: 10px;
    margin-bottom: 35px;
}
.select-type-job {
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 6px 6px 6px;
    size: 2em;
    padding: 3px;
}
.select-country-job {
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 6px 6px 6px;
    size: 2em;
    padding: 3px;
}
.title-new-search-suggestion{
    position:relative;
    left:45px;
}
.hr-style-cut-2 {
    border-bottom: 1px solid black;
    width: 35%;
    position: relative;
    height: 1px;
    bottom: 10px;
    margin-bottom: 25px;
    left: 45px;
    z-index: 2;
}
.link-format-cross{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: yellow;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.position-cross-plus {
    display: flex;
    position: absolute;
    justify-content: right;
    right: 65px;
    bottom: 78px;
}
.apply-date{

}
.created-date{

}
